@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Roboto", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.75rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

a, strong {
  color: #e91d63;
}

a {
  text-decoration: none;
}

ul {
  list-style: disc;
  padding-left: 2rem;
}

p {
  margin: 1rem 0;
}
